:root {
    --black: #010101;
    --blue: #69C9D0;
    --white: #FFFFFF;
    --pink: #EE1D52;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--blue);
}

p {
    color: var(--white);
}

a {
    color: var(--pink) !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

header {
    background: linear-gradient(103.51deg, var(--blue) 0%, #E088B6 50.52%, var(--pink) 99.99%);
}

header p {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

hr {
    background-color: var(--white) !important;
    height: 2px !important;
    border-radius: 5rem;
    opacity: 0.1 !important;
}

.row {
    justify-content: space-around;
}

.badge.badge-category {
    background-color: var(--blue);
    color: var(--black);
}

.material-icons-outlined {
    color: var(--blue) !important;
}

.product-image-container {
    width:100%;
    padding-bottom:100%;
    border-radius: 0.25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 576px) {
    .col-sm-3 {
        width: 24% !important;
    }
}
